div {
    border: 1px solid #000000;
}

body {
    display: flex;
    flex-direction: column;
}

#div1 {
    background-color: antiquewhite;
}

#div2 {
    background-color: rgb(179, 153, 119);
}

#div3 {
    background-color: rgb(155, 159, 211);
}